<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TradeView</title>
    <meta content="TradeView is an application that parses the stock recommendations based upon technical indicators, oscillators, and pivots from tradingview.com."
          name="description">
    <meta property="og:title" content="TradeView">
    <meta property="og:description"
          content="TradeView is an application that parses the stock recommendations based upon technical indicators, oscillators, and pivots from tradingview.com.">
    <meta property="og:image" content="img/tradeview.jpg">
    <meta property="og:url" content="https://tradeview.herokuapp.com">
<style>
#wrap {
    position:absolute;
    top:45%;
    right:0;
    left:0;
    text-align: center;
}
@media only screen and (min-width: 580px) {
    #dir {
    font-size: 80%;
    }
}
</style>
</head>
<body style="background-color:powderblue;">
<h2 style="text-align: center;">
    Enter any ticker symbol and an interval to get a recommendation!
</h2>
<p id = #dir style="text-align: center;">
    The intervals are as follows: <br> "1m" for 1 minute <br> "5m" for 5 minutes <br> "15m" for 15 minutes <br> "1h" for 1 hour <br> "4h" for 4 hours <br> "1D" for 1 day <br> "1W" for 1 week <br> "1M" for 1 month.
</p>
<div id="wrap">
    <form action="/" method="POST">
        <label for="ticker" style="font-size: 150%;">Ticker:</label><br>
        <input type="text" id="ticker" name="ticker" placeholder="ex. AAPL" style="min-height:22px;"><br><br>
        <label for="interval" style="font-size: 150%;">Interval:</label><br>
        <input type="text" id="interval" name="interval" placeholder="ex. 1M" style="min-height:22px;"><br><br>
        <input type="submit" value="Submit">
      </form>
</div>
<footer>
    <p style="position: fixed; bottom: 0; width:100%; text-align: center; font-size: 110%;">
        <i>
            Note: <br>
            The recommendations are based upon technical indicators, oscillators, and pivots. <br>
            The recommendations are purely for educational purposes and should not be taken as professional investment advice. <br>
            Invest at your own discretion.
        </i>
    </p>
</footer>
</body>
</html>